@import "../../Globals/Colors.css";

body {
  font-family: Rubik, Arial, sans-serif;
}

.Hero {
  height: 160vh;
  background-color: rgb(25, 26, 29);
  color: white;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}

.HeroText {
  font-size: 2rem;
  color: var(--color-textFaded);
}

.HeroImage {
  border-radius: 50%;
  background-size: cover;
  height: 300px;
  width: 300px;
}

.Heading {
  font-size: 4rem;
}

.button {
  border-radius: 200px !important;
  width: 200px;
  height: 70px;
  font-size: 25px;
  background-color: var(--color-blueShade);
  border: 3px solid var(--color-blueShade);
}

.CV {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.CV:hover {
  text-decoration: none;
  color: white;
}

@keyframes buttonAnimation {
  from {
    width: 200px;
    height: 70px;
    font-size: 25px;
  }
  to {
    height: 80px;
    width: 220px;
  }
}

.button:hover {
  height: 80px;
  width: 220px;
  background-color: transparent;
  border: 3px solid var(--color-blueShade);
  animation-duration: 0.5s;
  animation-name: buttonAnimation;
}

.particles {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 160vh;
  width: 100%;
}

.certificateDiv {
  margin-top: 64px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .Hero {
    height: 120vh;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
  }
  .HeroImage {
    height: 170px;
    width: 170px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .HeroText {
    font-size: 1.2rem;
    padding-left: 20px;
  }
  .Heading {
    font-size: 2rem;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  .button {
    margin-left: 20px;
    width: 140px;
    height: 50px;
    font-size: 20px;
  }

  .CV {
    font-size: 16px;
  }

  @keyframes buttonAnimation {
    from {
      width: 140px;
      height: 50px;
      font-size: 20px;
    }
    to {
      height: 60px;
      width: 160px;
      position: relative;
    left: -5px;
    }
  }

  .button:hover {
    outline: none;
    box-shadow: none;
    height: 60px;
    width: 160px;
    animation-duration: 0.2s;
    animation-name: buttonAnimation;
  }
  .particles {
    height: 120vh;
  }
}
