body{
    background-color: lightgray;
}
.Logo{
    height:5%;
    width:5%;
}
.Explore{
    font-size: 4rem;
    text-align: center;
    animation: animate 6s linear infinite;
}


@keyframes animate{
    0%{
        filter: blur(8px);
        opacity: 0;
        transform: rotateY(90deg);
    }
    25%
    {
        filter: blur(4px);
        transform: rotateY(45deg);
        opacity:0.5;
    }
    50%{
        filter: blur(0);
        transform: rotateY(0deg);
        opacity: 1;
    }
}
.text{
    font-size:1.5rem;
    width:100%;
    text-align: center;
}
.contact-div ul li{
    color:black;
    transition: all 2s;
    transform: rotate(-30deg) skew(25deg);
} 
.contact-div ul li:hover{
    transform: rotate(0deg) skew(0deg);
}
a{
    color:white;
}
.foot{
    background-color: black;
}
.project-heading{
    text-decoration: underline;
    color:blue;
}
.text{
    font-size: 1.5rem;
}
.fit-image{
    height: 100%;
    width: 100%;
}
.grid{
    padding:5px;
}
.grid img{
    padding:7px 7px;
    transition: 0.8s ease;
}
.grid img:hover{
    box-shadow: 10px 10px 10px 10px  rgba(0, 0, 0, 0.5);
    transition: 0.8s ease;
}