@import '../../Globals/Colors.css';

h1 {
    display: inline-block;
}

h1:after {
    content: '';
    display: block;
    background-color: var(--color-blueShade);
    width: 13%;
    height: 4px;
    transition: width 0.3s;
    border-radius: 20px;
}

h1:hover {
    cursor: pointer;
}