.Nav {
    width: 100%;
    height: 55px;
    border-bottom: 2px solid black;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.Logo {
    /* font-size: 2rem; */
    padding: 16px 0;
}

/* @media screen and (min-width: 320px) and (max-width: 480px) {
    .Logo {
        font-size: 1rem;
    }
} */

/* Right Nav */

ul {
    /* font-size: 1.3rem; */
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
}

li {
    padding: 18px 10px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    ul {
        /* font-size: 1rem; */
        flex-flow: column nowrap;
        background-color: green;
        position: fixed;
        transform: if(open)  translateX(0) else translateX(100%);
        transition: transform 0.3s ease-in-out;
        top: 0;
        right: 0;
        height: 100vh;
        width: 50%;
        padding-top: 3.5rem;
    }
    li {
        color: white;
    }
}