@import '../../Globals/Colors.css';

.ContactForm {
    height: 160vh;
    /* width: 500px; */
    background-color: var(--color-backgroundBlack);
    color: white;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .ContactForm {
        height: 80vh;
    }
}