@import '../../Globals/Colors.css';

.footer {
    background-color: var(--color-backgroundBlack);
    margin-top: 67px;
    color: white;
}

.name {
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.name:hover {
    cursor: pointer;
}

.name::after {
    content: '';
    background-color: var(--color-blueShade);
    display: block;
    width: 25px;
    height: 7px;
    transition: width 0.3s;
    border-radius: 20px;
}

.desc {
    font-size: 0.94rem;
}

.contact a {
    color: white !important;
}

.contact a:hover {
    color: var(--color-blueShade) !important;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: var(--color-blueShade);
    text-decoration: none;
}

.head {
    font-size: 22px;
    color: var(--color-textFaded);
    padding-left: 37px;
}

ul {
    text-decoration: none;
    list-style: none;
    line-height: 40px;
}

.SocialList {
    display: flex;
}

.SocialMedia {
    margin: 10px;
    height: 28px;
}

.Insta {
    border-radius: 50%;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .name, .desc {
        padding-left: 37px;
    }
    .contact {
        padding-left: 37px;
        padding-bottom: 20px;
    }
}