@import '../../Globals/Colors.css';

.Certi {
    /* border: 1px solid gray; */
    box-shadow: 0 0 28px var(--color-textFaded);
    border-radius: 10px;
}

.Certilogo {
    width: 100%;
    height: 160px;
    padding: 28px;
    margin-bottom: 16px;
}

.Cname {
    font-weight: bold;
    color: var(--color-blueShade);
    height: 70px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .Certi {
        box-shadow: 0 0 16px var(--color-textFaded);
    }
}