@import '../../Globals/Colors.css';

.mainDiv {
    position: relative;
    top: -280px;
    z-index: 10;
    height: 550px;
}

.SkillColumn {
    border-bottom: 1px solid var(--color-textFaded);
    border-left: 1px solid var(--color-textFaded);
    border-top: 1px solid var(--color-textFaded);
    background-color: white;
}

.ImgLogo {
    width: 85%;
    margin: 20px;
    vertical-align: middle;
    /* padding-bottom: 20px; */
}

.col1 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.inDiv {
    height: 300px;
    display: flex;
    align-items: center;
    align-items: center;
}

.col3 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 1px solid var(--color-textFaded);
}

.heading {
    color: var(--color-darkBlue);
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 30px;
}

.description {
    padding-bottom: 55px;
}

.subHeading {
    color: var(--color-blueShade);
    font-weight: 600;
    padding-bottom: 10px;
}

.languages {
    font-family: europa, sans-serif !important;
    height: 100px;
}

.tools {
    padding-bottom: 20px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .mainDiv {
        top: -100px;
        height: 313vh;
    }
    .ImgLogo {
        height: auto !important;
    }
    .inDiv {
        height: 250px;
    }
    .SkillColumn {
        margin: 7px 20px;
        border-radius: 10px;
        border-right: 1px solid var(--color-textFaded);
    }
}