@import '../../Globals/Colors.css';

.icon {
    width: 28px;
}

.maincontainer {
    border-radius: 10px;
    box-shadow: 0 0 7px gray;
}

.maincontainer:hover {
    box-shadow: 0 0 16px gray;
    cursor: pointer;
}

.projectName {
    vertical-align: middle;
    font-size: 28px;
    padding-left: 19px;
}

.row {
    padding: 10px 25px !important;
}

.btn {
    border-radius: 20px;
    margin: 19px;
}