@import '../../Globals/Colors.css';

.icon {
    width: 28px;
}

.maincontainer {
    border: 1px solid black;
    box-shadow: 0 0 7px gray;
}

.maincontainer:hover {
    box-shadow: 0 0 16px gray;
    cursor: pointer;
}

.projectName {
    font-size: 28px;
    padding-left: 19px;
}

.row {
    padding: 10px 25px !important;
}

.tech {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-blueShade);
}

.btn {
    background-color: var(--color-blueShade);
    border-radius: 20px;
    margin: 19px;
    /* margin-top: 10px; */
}