@import '../../Globals/Colors.css';

.ProjectImage {
    width: 100%;
    border-radius: 20px;
}

.ProjectImage:hover {
    opacity: 0.7;
}

.buttonGroup {
    position: relative;
    top: -190px;
    clear: both;
}

.btn {
    background-color: var(--color-blueShade);
    color: white;
    margin: 0 20px;
    border-radius: 25px;
}

.btn:hover {
    cursor: pointer;
}

.tags {
    position: relative;
    top: -205px;
    max-height: 50px;
    background-color: green;
}

.tag {
    border-radius: 10px;
    color: white;
    border: 2px solid black;
    padding: 4px;
    float: left;
    margin: 4px;
    background-color: black;
}

/* .card {
    text-overflow: ellipsis;
    padding: 4px;
    border: 1px solid black;
    background-color: black;
    color: white;
    display: inline-block;
    border-radius: 7px;
    position: relative;
    top: -220px;
    margin: 10px;
} */