@import '../../Globals/Colors.css';

h1::after {
    margin-top: 10px;
    width: 50% !important;
}

.MoreButton {
    height: 55px;
    width: 220px;
    font-size: 22px;
    border-radius: 28px;
}

.MoreButton:hover {
    color: var(--color-blueShade);
    background-color: white;
    border: 2px solid var(--color-blueShade);
}