body {
    font-family: Rubik, Arial, sans-serif;
}

.Hero {
  height: 160vh;
  background-color: rgb(25, 26, 29);
  color: white;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}

.HeroText {
    font-size: 2rem;
}

.HeroImage {
  border-radius: 50%;
  background-size: cover;
  height: 300px;
  width: 300px;
}

.Heading {
  font-size: 4rem;
}

.button {
  border-radius: 200px !important;
  width: 200px;
  height: 70px;
  font-size: 25px;
  background-color: rgb(75, 108, 193);
}

@keyframes buttonAnimation {
  from {
    width: 200px;
    height: 70px;
    font-size: 25px;
  }
  to {
    height: 80px;
    width: 220px;
  }
}

.button:hover {
  height: 80px;
  width: 220px;
  background-color: rgb(25, 26, 29);
  border: 3px solid rgb(75, 108, 193);
  animation-duration: 0.2s;
  animation-name: buttonAnimation;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .Hero {
    height: 80vh;
  }
}
