@import "../../Globals/Colors.css";

body {
  font-family: Rubik, Arial, sans-serif;
}

.Hero {
  height: 160vh;
  background-color: rgb(25, 26, 29);
  color: white;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}

.HeroText {
  font-size: 2rem;
  color: var(--color-textFaded);
}

.HeroImage {
  border-radius: 50%;
  background-size: cover;
  height: 300px;
  width: 300px;
}

.Heading {
  font-size: 4rem;
}

.button {
  border-radius: 200px !important;
  width: 200px;
  height: 70px;
  font-size: 25px;
  background-color: var(--color-blueShade);
}

@keyframes buttonAnimation {
  from {
    width: 200px;
    height: 70px;
    font-size: 25px;
  }
  to {
    height: 80px;
    width: 220px;
  }
}

.button:hover {
  height: 80px;
  width: 220px;
  background-color: rgb(25, 26, 29);
  border: 3px solid rgb(75, 108, 193);
  animation-duration: 0.2s;
  animation-name: buttonAnimation;
}

.particles {
    position: absolute;
    top: 0;
    z-index: -1;
    height: 160vh;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .Hero {
    height: 80vh;
  }
  .HeroImage {
    height: 160px;
    width: 160px;
  }
  .HeroText {
    font-size: 1rem;
  }
  .Heading {
    font-size: 2rem;
  }
  .button {
    width: 120px;
    height: 40px;
    font-size: 10px;
  }

  @keyframes buttonAnimation {
    from {
      width: 100px;
      height: 30px;
      font-size: 10px;
    }
    to {
      height: 40px;
      width: 130px;
    }
  }

  .button:hover {
    height: 35px;
    width: 130px;
    animation-duration: 0.2s;
    animation-name: buttonAnimation;
  }
  .particles {
    height: 80vh;
  }
}
