@import '../../Globals/Colors.css';

.row {
    padding: 37px 0px;
}

.position {
    font-size: 1.6rem;
}

.position:hover {
    cursor: pointer;
}

.position:hover::after {
    width: 25%;
}

.position::after {
    content: '';
    background-color: var(--color-blueShade);
    display: block;
    width: 55px;
    height: 7px;
    transition: width 0.7s;
    border-radius: 27px;
}

.Logo {
    vertical-align: middle;
    padding-top: 0 !important;
    padding-bottom: 10px;
    width: 37px;
    margin-right: 16px;
}

.CompanyName {
    vertical-align: middle;
    font-size: 1.3rem;   
}

.duration {
    color: var(--color-textFaded);
    font-size: 0.9rem;
}

.location {
    color: var(--color-textFaded);
    font-size: 0.9rem;
    margin-bottom: 7px;
}

/* .credential {
    color: var(--color-blueShade);
    font-weight: bold;
} */
.credential {
    background-color: var(--color-blueShade);
    color: white;
    padding: 7px;
    border-radius: 7px;
    margin: 10px;
}

.credential:hover {
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .credential {
        font-size: 13px;
    }
    .position {
        font-size: 1.4rem;
        margin-bottom: 22px;
    }
    .CompanyName {
        font-size: 1.2rem;
    }
}